<%= form_for @auction do |f| %>
  <% if @auction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@auction.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @auction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
	
  <p>
    <%= f.label "Item" %><br>
    <%= f.text_field :item %>
  </p>
 
  <p>
    <%= f.label "Description" %><br>
    <%= f.text_area :desc %>
  </p>

  <p>
    <%= f.label "Asking price" %><br>
    <%= f.number_field :bid %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
	
<% end %>