<table>
  <tr>
    <th>Item</th>
    <th>Desc</th>
		<th>Bid</th>
    <th colspan="3"></th>
  </tr>
 
<% @auctions.each do |auction| %>
  <tr>
    <td><%= auction.item %></td>
    <td><%= auction.desc %></td>
		<td><%= auction.bid %></td>
    <td><%= link_to 'Show', auction_path(auction) %></td>
    <td><%= link_to 'Edit', edit_auction_path(auction) %></td>
  </tr>
<% end %>
</table>